  <%= form_for(Channel.new) do |f| %>
    
    <div class="field">
      <%= f.label :color %><br />
      <%= f.select(:color, Channel::COLOR_OPTIONS) %>    
    </div>
    <div class="field">
      <%= f.label :style %><br />
      <%= f.select(:style, Channel::STYLE_OPTIONS) %>   
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.select(:price, Channel::PRICE_OPTIONS) %>   
    </div>
    <div class="field">
      <%= f.label :gender %><br />
      <%= f.select(:gender, Channel::GENDER_OPTIONS) %>  
    </div>
    <div class="actions">
      <%= f.submit "Create channel" %>
    </div>
  <% end %>

