<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %><br />
    <%= select(:channel, :color, 
      Channel::COLOR_OPTIONS.collect {|x| [x, Channel::COLOR_OPTIONS.index(x) + 1] }) 
%>    
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= select(:channel, :style, 
      Channel::STYLE_OPTIONS.collect {|x| [x, Channel::STYLE_OPTIONS.index(x) + 1] }) 
%>    
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= select(:channel, :price, 
      Channel::PRICE_OPTIONS.collect {|x| [x, Channel::PRICE_OPTIONS.index(x) + 1] }) 
%>    
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= select(:channel, :gender, 
      Channel::GENDER_OPTIONS.collect {|x| [x, Channel::GENDER_OPTIONS.index(x) + 1] }) 
%>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
