  <%= form_for Channel.new, :url => "/application/create_guest_user", :html => {:method => :post } do |f| %>
    <ul id="landing_channel_form">
        <div class="color">
        <li class="field">
          <%= f.label :color %><br />
          <%= f.select(:color, Channel::COLOR_OPTIONS) %>
          <div class="picker">
              <% Channel::COLOR_OPTIONS.each do |color| %>
             <div class="option" id="Color<%=color%>"><%= color%></div>
            <% end %>
          </div>
        </li> 
        </div>
        <div class="style_price_gender">
          <div class="style">
            <li class="field">
              <%= f.label :style %><br />
              <%= f.select(:style, Channel::STYLE_OPTIONS) %>   
              <div class="picker" id="style_picker">
                  <% Channel::STYLE_OPTIONS.each do |style| %>
                 <div class="option" id="Style<%=style%>"><span><%= style %></span></div>
                <% end %>
              </div>
            </li>
          </div>
          <div class="price">
            <li class="field">
              <%= f.label :price, "Price limit" %><br />
              <%= f.select(:price, Channel::PRICE_OPTIONS) %>  
              <div class="picker">
                  <% Channel::PRICE_OPTIONS.each do |price| %>
                 <div class="option" id="Under<%=price%>"><span><%= price %></span></div>
                <% end %>
              </div> 
            </li>
          </div>
          <div class="gender">
            <li class="field">
              <%= f.label :gender %><br />
              <%= f.select(:gender, Channel::GENDER_OPTIONS) %>  
              <div class="picker">
                  <% Channel::GENDER_OPTIONS.each do |gender| %>
                 <div class="option" id="<%=gender%>"><span><%= gender %></span></div>
                <% end %>
              </div> 
            </li>
          </div>
        </div>
   </ul>
   <div class="actions" id="create_channel_div">
      <%= f.submit "START YOUR SPREE", :class => "create_channel", :id => "landing_create" %>
   </div>
  <% end %>

