<% if current_user.nil? %>

<% else %>

<div class="user_profile_partial">

	<div class="user_name">
		<%= current_user.username ||= current_user.email %>
	</div>

	<div class="my_profile">
		My channels
		<% current_user.channels.each do |channel| %>
        <li><%= link_to "#{channel.name}", :controller => "store", :action => "index", :channel_id => "#{channel.id}", :switch_channel => "true" %>
        </li> | 
    <% end %>
	</div>

	<div class="my_profile">
		My cart
		<% current_user.cart.line_items.each do |line_item| %>
	        <li><%= line_item.item.title %> (<%= line_item.quantity %>) </li> | 
	    <% end %>
	</div>


	<div class="my_profile">
		My wishlist
		<% unless current_user.wishlist.nil? || current_user.wishlist.items.nil? %>
		    <% current_user.wishlist.items.each do |item| %>
				<li><%= link_to "#{item.title}", "#{item.url}" %></li> |
		    <% end %>
		<% end %>
		</div>
    </div>

<% end %>