<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :stripe_card_token %>

  <% if current_user.stripe_customer_token.present? %>
    Welcome back <%= current_user.username %>! <br /> <br/>

    You've expressed interest in buying the following items. <br/> We'll go over your request once you submit it and get back to you with a confirmation. <br /><br />

    <% @cart.line_items.each do |item| %>
      <li> <%= item.name %> (Quantity: <%= item.quantity %>) </li>
    <% end %>

    <%= f.hidden_field :name, :value => current_user.username %>
    <%= f.hidden_field :address , :value => current_user.address %>
  <% else %>
  <div>Please enter your payment information below. We'll go over the items you've added, and we'll get back to you and ask you to confirm your purchase before we charge you.</div> <br/> <br/>
  <div class="field">
    <%= f.label :name, "Your Name" %><br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :address, "Billing Address" %><br />
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>
   <div class="field">
    <%= f.label :shipping_address, "Shipping Address" %><br />
    <%= f.text_area :shipping_address, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_number, nil, :name => nil %>
  </div>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag :card_code, nil, :name => nil %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {:add_month_numbers => true}, {:name => nil, :id => "card_month"} %>
    <%= select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:name => nil, :id => "card_year"} %>
  </div>
  <% end %>
<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>
<br/><br/>
  <div class="actions">
    <%= f.submit "Place my request", :class => "request_button" %>
  </div>
<% end %>

