<div class="welcome_message">
	<%= link_to image_tag("logo.png", :class => "logo"),
                { :controller => "store", :action => "index" } %>
	<h2> A PRODUCT OF THE APPAREL GENOME PROJECT </h2>
	<br/> 
</div>

<div class="new_session">
	

	<div class="authentication_options">
		<h2>Sign in</h2>

		<div class="oauth">
			<%= link_to image_tag("Facebook_button.png"), user_omniauth_authorize_path(:facebook), :class => "facebook_button_auth" %>
			<%= link_to image_tag("Twitter_button.png"), user_omniauth_authorize_path(:twitter), :class => "twitter_button_auth" %>
        </div>
		<div class="verticalLine"></div>
		<div class="email">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div><%= f.email_field :email, :class => "authentication_field", :placeholder => "Email" %></div>
			  <div><%= f.password_field :password, :class => "authentication_field", :placeholder => "Password" %></div>


			  <div><%= f.submit "Sign in", :class => "authentication_button" %></div>
			<% end %>
			<%= render "devise/shared/links" %>
		</div>
	</div>

	
</div>

