  <%= form_for(Item.new, :remote => true) do |f| %>
    <ul id="item_form">
      <li class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, :placeholder => "Uber cool preppy" %>   <br /> <br />
        <%= f.label :url %><br />
        <%= f.url_field :url, :placeholder => "Link to where item can be purchased"  %>   
           <br /> <br /> 
        <%= f.label :price %><br />
        <%= f.text_field :price, :placeholder => "i.e. 49.99 (no $ needed)" %>  
      </li>
      <li class="field">
        <%= f.label :color %><br />
        <%= f.select(:color, Item::COLOR_OPTIONS) %>
        <div class="picker">
            <% Item::COLOR_OPTIONS.each do |color| %>
           <div class="option" id="<%=color%>"></div>
          <% end %>
        </div>
      </li> 
      <li class="field">
        <%= f.label :style %><br />
        <%= f.select(:style, Item::STYLE_OPTIONS) %>   
        <div class="picker">
            <% Item::STYLE_OPTIONS.each do |style| %>
           <div class="option" id="<%=style%>"> <%= style %> </div>
          <% end %>
        </div>
      </li>
      <li class="field">
        <%= f.label :gender %><br />
        <%= f.select(:gender, Item::GENDER_OPTIONS) %>  
        <div class="picker">
            <% Item::GENDER_OPTIONS.each do |gender| %>
           <div class="option" id="<%=gender%>"> <%= gender %> </div>
          <% end %>
        </div> 
      </li>
   </ul>
   <div class="actions">
      <%= f.submit "Make this item", :id => "make_item" %>
   </div>
  <% end %>


