<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>URL:</b>
  <%= @item.url %>
</p>

<p>
  <b>Color:</b>
  <%= @item.color %>
</p>

<p>
  <b>Style:</b>
  <%= @item.style %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Gender:</b>
  <%= @item.gender %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
