<div class="order_confirmation_form">
  <% if current_user.role == "standard" %>
    Thank you for submitting your order. We'll get back to you soon to confirm the items and prices.
  <% elsif current_user.role == "admin" %>

    <h1>Order summary</h1>

    <p>Order Id: <%= @order.id %></p>
    <p>Customer: <%= @order.user.email %></p>
    <p>Address: <%= @order.address %> </p>
      
      <p> Items requested by the customer: </p> 
      <ul>
      <% @order.line_items.each do |item| %>
        <li> Original URL: <%= link_to item.current_url, item.current_url %> </li>
        <li> Item name: <%= item.name %> </li> <br/> <br/>
      <% end %>
      </ul>

      <!-- going to confirm items and amounts with users --> 

    <%= form_for(@confirmation) do |f| %>
        <% if @confirmation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@confirmation.errors.count, "error") %> prohibited this confirmation from being saved:</h2>
            <ul>
            <% @confirmation.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <%= f.hidden_field :order_id, :value => @order.id %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :user_id, :value => @user.id %>

    <!-- nested form -->

    <p> Updating information for items based on actual information on merchant site </p>
    <%= f.fields_for @confirmation.line_items do |builder| %> 
      <%= builder.hidden_field :id %>
      <p>
        <%= builder.label :name, "Actual Item name" %> <br />
        <%= builder.text_field :name %>
      </p>
      <p>
        <%= builder.label :current_url, "Actual item URL" %> <br />
        <%= builder.text_field :current_url %>
      </p>
      <p>
        <%= builder.label :price, "Item price" %> <br />
        <%= builder.text_field :price %>
      </p>
    <% end %>
   
    <div class="field">
      <%= f.label :total %><br />
      <%= f.text_field :total %>
    </div>

    <div class="actions">
      <%= f.submit "Send confirmation to customer" %>
    </div>
  <% end %>


<% end %>

</div>