
<%= form_for(LineItem.new) do |f| %>
  <p class="create_line_item_text">
    We can't track what you're doing on the merchant's site. Please enter the name and size of the item you'd like to add to your cart. <br/> Make sure to use the same name as on the merchant's site, so we can find it! :)
  </p>

  <div class="fields_for_line_items">
    <div class="field">
      <%= f.label :name, "Exact name of the item", :class => "create_line_item_text" %><br />
      <%= f.text_field :name, :id => "line_item_name" %>
    </div>
    <div class="field">
      <%= f.label :size, :class => "create_line_item_text" %><br />
      <%= f.text_field :size, :id => "line_item_size" %>
    </div>
  </div>
    <div class="actions">
      <%= f.submit "Add Item to cart", :class => "make_line_item" %>
   </div>
<% end %>


