<% if current_or_guest_user.nil? %>
    <div class="subtle_background">
        <div class="welcome_message">
        	<h1><%= link_to "AVEECE", root_path %></h1>
        	<h2> the best way to discover and buy clothes </h2>
        	<br/> 
        </div>
        <div class="new_session">
        <h2>Sign up</h2>

        <div class="authentication_options">
        <div class="oauth">
             <%= button_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook_button_auth" %>
             <%= button_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class => "twitter_button_auth" %>
        </div>
        <div class="verticalLine"></div>
        <div class="email">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

            <div><%= f.email_field :email, :class => "registration_field", :placeholder => "Email" %></div>

              
            <div><%= f.password_field :password, :class => "registration_field", :placeholder => "Password" %></div>

            <div>
            <%= f.password_field :password_confirmation, :class => "registration_field", :placeholder => "Confirm Password"%></div>
            

              <div><%= f.submit "Sign up", :class => "registration_button" %></div>
              <div class="agree_to_terms">
                <%= f.check_box :terms %>
                <%= f.label "I agree to the terms and conditions" %>
              </div>
            <% end %>
        </div>
    </div>
</div>
        
        <div class="guest_user">
            <h2 class="landing_greeting"> Not quite seduced? <br/><br/> Go on a test shopping spree </h2>
            <div class="channel_landing_partial">
                <%= render :partial => "channels/landing_page_form" %>
            </div>
        <div>
<% elsif @user && @user.role == "admin" %>
       <%= render :partial => "items/index" %>
<% elsif @channel && @channel.channel_items.empty? %>
        <div class="welcome_message no_more_items"><h2>No more items for now ;( Come back soon!</h2>
        </div>
<% elsif @guest_channel && @guest_channel.channel_items.empty? %>
        <div class="welcome_message no_more_items"><h2>Hello guest! No more items for now ;( Come back soon!</h2>
        </div>
<% elsif !(@confirmation.nil?) %>
        <% if (@confirmation.status == "sent_to_customer") || (@confirmation.status == "payed") %>
            <%= render :partial => "confirmations/show" %>
        <% end %>
    </div>
<% else %>
    <div class="iframe_div">
        <div class="iframe_div">
            <% if @item_url %> 
                <iframe src=<%= @item_url %> alt="product" id="main_iframe"></iframe>
            <% elsif @guest_item_url %> 
                <iframe src=<%= @guest_item_url %> alt="product" id="main_iframe"></iframe>
            <% end %>
        </div>
    </div>
<% end %>




