<% if current_or_guest_user.nil? %>
    <div class"sign"><%= link_to "Sign in", :controller => "sessions", :action => "new" %> | 
        <%= link_to "Sign up", :controller => "registrations", :action => "new" %></div>
    <div class="welcome_message">
    	<%= link_to image_tag("logo.png", :class => "logo"),
                    { :controller => "store", :action => "index" } %>
    	<h2> A PRODUCT OF THE APPAREL GENOME PROJECT </h2>
    	<br/> 
    </div>
    <div class="guest_user">
        <h2 class="landing_greeting">Choose your parameters. Start your adventure. </h2>
        <div class="channel_landing_partial">
            <%= render :partial => "channels/landing_page_form" %>
        </div>
    </div>
<% elsif @user && @user.role == "admin" %>
       <%= render :partial => "items/index" %>
<% elsif @channel && @channel.channel_items.empty? %>
        <div class="welcome_message no_more_items">
            <h2>No more items for now ;( Come back soon!</h2>
        </div>
<% elsif @guest_channel && @guest_channel.channel_items.empty? %>
        <div class="welcome_message no_more_items">
            <h2>Hello guest! No more items for now ;( Come back soon!</h2>
        </div>
<% elsif !(@confirmation.nil?) %>
        <% if (@confirmation.status == "sent_to_customer") || (@confirmation.status == "payed") %>
            <%= render :partial => "confirmations/show" %>
        <% end %>
<% else %>
    <div class="iframe_div">
        <iframe src="" alt="product" class="aveece_iframe" id="main_iframe"></iframe>
        <iframe src="" alt="product" class="aveece_iframe" id="next_main_iframe"></iframe>
        <iframe src="" alt="product" class="aveece_iframe" id="next_next_main_iframe"></iframe>
    </div>
<% end %>





