<div class="footer_links">
	<%= link_to "About Aveece",{ :controller => "static_pages", :action => "about" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Jobs",{ :controller => "static_pages", :action => "jobs" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<a href="mailto:edwardlando8@gmail.com?Subject=Aveece%20Inquiry">Contact</a>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Terms", {:controller => "static_pages", :action => "terms" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Privacy Policy",{ :controller => "static_pages", :action => "privacy" } %>
</div>
<div class="like_aveece">
    <div id="like_aveece"><%= link_to image_tag("facebook_footer.png", :class => "footer_icon"), "https://www.facebook.com/Aveece" %></div>
    <div id="tweet_aveece"><%= link_to image_tag("twitter_footer.png", :class => "footer_icon"), "https://twitter.com/aveece" %></div>
</div>

