<div class="footer_links">
	<%= link_to "About Aveece",{ :controller => "static_pages", :action => "about" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Jobs",{ :controller => "static_pages", :action => "jobs" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Contact",{ :controller => "static_pages", :action => "contact" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Terms", {:controller => "static_pages", :action => "terms" } %>
	&nbsp &nbsp |
	&nbsp &nbsp
	<%= link_to "Privacy Policy",{ :controller => "static_pages", :action => "privacy" } %>
    <div id="like_aveece"><%= link_to image_tag("f.png", :class => "footer_icon"), "https://www.facebook.com/Aveece" %></div>
    <div id="tweet_aveece"><%= link_to image_tag("t.png", :class => "footer_icon"), "https://www.twitter.com/aveece" %></div>
</div>

