

<!-- where are we getting channel from? -->
<div class="top" style="padding-top:0px; margin-top:0px;">
	<div class="nav">
	<% if current_or_guest_user %>
		<div class="top_bar">
			<div class="title">
				<%= link_to "AVEECE", {:controller => "store", :action => "index", :current_channel => display_channel, :index => display_channel.item_index } %>
			</div>
			<% unless display_channel.current_item.nil? || current_or_guest_user.role == "admin" || display_channel.current_item.user.nil? %>
			    <!--<div id="contributed_by">Contributed by: <a href src="#">
			    	 display_channel.current_item.user.username ||= display_channel.current_item.user.email </a><br/><span>(Official Aveece Tastemaker)</span>
			    </div>-->
		    <% end %> 
			<% unless current_or_guest_user.nil? %>
				<div id="actions">
				    <div class="action bottom_bar_left">
						<% if current_user %>
							<% if current_user.role == "tastemaker" || current_user.role == "admin" %>
								<div class="bottom_bar_action" id="new_item_button">+item
								</div>
							<% end %>
						<% end %>
							<div class="bottom_bar_action" id="new_channel_button">+channel
							</div>
					</div>
					<div class="action bottom_bar_center">
						<% unless display_channel.channel_items.empty? %>
						    <% if current_user %>
							<div class="bottom_bar_action" id="add_to_cart_link">add to bag
							</div>  
							<% end %>
						<% end %>
						<% if current_or_guest_user.can_vote_for?(display_channel.current_item) && !(display_channel.current_item.nil?) %>
						    <div class="bottom_bar_action" id="downvote"><%= link_to image_tag("bar_thumbsdown_icon.png"), vote_item_path(display_channel.current_item.id, value: -1), method: "post" %>
						    </div>
							<div class="bottom_bar_action"id="upvote"><%= link_to image_tag("bar_thumbsup_icon.png"), vote_item_path(display_channel.current_item.id, value: 1), method: "post" %>
							</div>
						<% end %>
						<% unless (display_channel.channel_items[display_channel.item_index+1].nil?) %>
							<div class ="bottom_bar_action" id="next_icon"><%= link_to image_tag("bar_next_icon.png"), {:controller => "store", :action => "index", :current_channel => display_channel, :index => display_channel.item_index+1 } %>
							</div>
					    <% end %>
					</div>
					<div class="action bottom_bar_right">
						<div class="bottom_bar_action" id="share_icon">Share
						</div>
						<div id="social_icons">
							<a href="" id="facebook_share"><img src="/assets/facebook.png" id="facebook_icon" alt="Like"/>
							</a>
							<a href="https://twitter.com/share" id="twitter_share" data-via="aveece" data-hashtags="aveece" target="_blank"><img src="/assets/twitter.png" id="twitter_icon" alt="Tweet"/>
							</a>
							<a href="" id="pinterest_share" target="_blank"><img src="/assets/pinterest.png" id="pinterest_icon" alt="Pin It"/>
							</a>
							<a href="https://plus.google.com/share?url={URL}" id ="googleplus_share" onclick="javascript:window.open(this.href,
							'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
							<img src="/assets/googleplus.png" id="googleplus_icon" alt="Share on G+"/>
							</a>
						</div>
						<% if current_user %>
					    <div class="bottom_bar_action" id="my_cart"><%= image_tag("bar_shoppingbag_icon.png")%>
					    </div>
					    <% unless current_or_guest_user.nil? %>
							<div class="bottom_bar_action top_header_icon" id="my_profile">
								<img src="/assets/bar_profile_icon.png") id="profile_icon"/>
							</div>
						<% end %>
						<% end %>
						<% if !current_user %>
							<div class="bottom_bar_action" id="sign_up_button" >
								<%= link_to "Sign Up!", :controller => "registrations", :action => "new" %>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
	<% else %>
			<div id="landing_sign_in">
				<h1><%= link_to "Sign in", :controller => "sessions", :action => "new" %></h1>
	    	</div>
		</div>
	<% end %>
	</div>
</div>