<!DOCTYPE html>
<html>
<head>
  <title>LandoYoushaei</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script> <!-- Payments with Stripe -->

  <script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_I3a9U98dUchgscLX0PKEdmZc0bgG3');
    ...
</script>

</head>
<body>

<!-- flash messages -->

<div id="wrap">
      <% unless current_user.nil? %>
      	<div id="header">
          <div id="header-container">
            <div class="inner_cart">
              <%= render 'carts/cart' %>
            </div>
            <div class="inner">
              <%= render 'channels/form' %>
            </div>
            <div class="inner_item">
              <%= render 'items/form' %>
            </div>
            <div class="inner_user">
              <%= render 'users/profile' %>
            </div>
      		<%= render 'layouts/header' %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        </div>
    	</div>
	    <div class="container" id="iframe">
	        <%= yield %>
		  </div>
</div>
<% unless current_user.nil? %>
  <div class="footer">
  	<%= render 'layouts/footer' %>
  </div>
<% end %>

</body>
</html>
