<!DOCTYPE html>
<html>
<head>
  <title>LandoYoushaei</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>

<!-- flash messages -->
<div id="wrap">
      <% unless current_user.nil? %>
      	<div id="header">
          <div id="header-container">
            <div class="inner_cart">
              <%= render 'carts/cart' %>
            </div>
            <div class="inner">
              <%= render 'channels/form' %>
            </div>
            <div class="inner_item">
              <%= render 'items/form' %>
            </div>
            <div class="inner_add_to_cart">
              <%= render 'line_items/form' %>
            </div>
            <div class="inner_user">
              <%= render 'users/profile' %>
            </div>
        <%= render 'layouts/header' %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        </div>
    	</div>
	    <div class="container" id="iframe">
	        <%= yield %>
		  </div>
</div>
<% unless current_user.nil? %>
  <div class="footer">
  	<%= render 'layouts/footer' %>
  </div>
<% end %>

</body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %><!-- Payments with Stripe -->
</html>
