<!DOCTYPE html>
<html>
<head>
  <title>Aveece</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= favicon_link_tag "/assets/favicon.ico" %>

  <!-- Google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36561061-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google analytics -->
</head>
<body>

<!-- Facebook sharing -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=556776341004235";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Facebook sharing -->
<!-- Twitter sharing -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<!-- Twitter sharing -->
<!-- Pinterest sharing -->
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<!-- Pinterest sharing -->
<!-- Google plus sharing -->
<script src="https://apis.google.com/js/plusone.js"></script>
<!-- Google plus sharing -->

<!-- flash messages -->
<div id="wrap">
      <% if current_or_guest_user.nil? %>
          <div id="header">
            <div id="header-container">
              <%= render 'layouts/header' %>
            </div>
          </div>
      <% else %>
      	<div id="header">
          <div id="header-container">
            <div class="inner_cart">
              <%= render 'carts/cart' %>
            </div>
            <div class="inner">
              <%= render 'channels/form' %>
            </div>
            <div class="inner_item">
              <%= render 'items/form' %>
            </div>
            <div class="inner_add_to_cart">
              <%= render 'line_items/form' %>
            </div>
            <div class="inner_user">
              <%= render 'users/profile' %>
            </div>
        <%= render 'layouts/header' %>
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        </div>
    	</div>
	    <div class="container" id="iframe">
	        <%= yield %>
		  </div>
</div>
<% unless current_or_guest_user.nil? || current_or_guest_user.role == "admin" %>
  <div class="footer">
  	<%= render 'layouts/footer' %>
  </div>
<% end %>

<!-- Skimlinks -->
<script type="text/javascript" src="http://s.skimresources.com/js/41891X1089278.skimlinks.js"></script>
<!-- Skimlinks -->

</body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %><!-- Payments with Stripe -->
</html>
