<!DOCTYPE html>
<html>
<head>
  <title>LandoYoushaei</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
</head>
<body>

<!-- flash messages -->

<div id="wrap">
    	<div id="header">
        <div id="header-container">
          <div class="inner">
            <%= render 'channels/form' %>
          </div>
          <div class="inner_user">
            <%= render 'users/profile' %>
          </div>
    		<%= render 'layouts/header' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        </div>
    	</div>
	    <div class="container" id="iframe">
	        <%= yield %>
		  </div>
</div>
<div class="footer">
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
